extends layout

block content
    .container
        .row
            .col-sm-3
                h2 About page
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quis voluptatibus illum expedita fugiat excepturi dolorum, voluptate dignissimos beatae repudiandae id quos porro ullam voluptas aperiam debitis, totam nostrum ratione.
            .col-sm-9
                h2 With custome template
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio iusto vero iste reprehenderit alias sed esse consequatur nesciunt fuga! Cumque modi corporis eligendi ipsam. Porro labore laboriosam perspiciatis voluptatum aliquid?