extends layout

block title
    title= 'Регистрация - Auction Express'

block page-header
    h1 Вход на сайт
    p Введите имя пользователя и пароль для продолжения

block content
    .signup-form
        form(action="login" method='post')
            label(for="username") Имя пользователя
            input(type="text" name='username')
            label(for="password") Пароль
            input(type="password" name='password')            
            button Войти
