extends layout

block content
    .lots
        each lot in lots
            .lot-preview
                .lot-preview-img: img(src=lot.images_urls[0])
                .lot-preview-info
                    h2= lot.name
                    p= lot.description
                    p= lot.price
                .lot-preview-extra
                    a(href='/lots/'+lot.id) Подробнее