extends layout

block content
    table.u-full-width
        thead
            tr
                th id
                th Name
                th Description
                th Price
        tbody
            tr
                td test
                td test
                td test
                td test
        each lot in lots
            tr
                td= lot.id
                td= lot.name
                td= lot.description
                td= lot.price