.lot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.lot .img-preview {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
}
.lot .img-preview .img-mini {
  cursor: pointer;
  margin-bottom: 5px;
}
.lot .img-preview .img-mini img {
  max-width: 100%;
}
.lot .img-preview .img-mini:last-child {
  margin-bottom: 0;
}
.lot .img-preview .active {
  border: 2px solid #009bfb;
}
.lot .img-full {
  flex-basis: 50%;
}
.lot .img-full img {
  max-width: 100%;
}
.lot .img-full .img-fullsize {
  display: none;
}
.lot .item-bid {
  flex-basis: 30%;
}
.lot .item-bid .item-bid-header h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #4e4e4e;
}
.lot .item-bid .item-bid-header .time-left {
  text-align: right;
  color: #0c5899;
  font-size: 14px;
  font-weight: bold;
}
.lot .item-bid .item-bid-body {
  background: #fff;
  border: 2px solid #009bfb;
  border-radius: 1px;
  padding: 30px;
}
.lot .item-bid .item-bid-body .price {
  font-size: 24px;
  color: #4e4e4e;
  margin-bottom: 20px;
}
.lot .item-bid .item-bid-body input,
.lot .item-bid .item-bid-body button {
  width: 100%;
  padding: 10px;
  border: 1px solid #009bfb;
  text-transform: uppercase;
}
.lot .item-bid .item-bid-body input {
  margin-bottom: 10px;
}
.lot .item-bid .item-bid-body button {
  background: #009bfb;
  color: #fff;
}
.lot .item-bid .item-bid-body hr {
  margin: 20px 0;
  color: #fbf6f4;
  border-top: 1px solid #009bfb;
}
.lot-info {
  margin-bottom: 20px;
}
.lot-info .tabs {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  border-bottom: 1px solid #ececec;
}
.lot-info .tabs > div {
  padding: 15px 0;
  margin-right: 20px;
  margin-bottom: -1px;
  cursor: pointer;
}
.lot-info .tabs .active {
  color: #009bfb;
  border-bottom: 2px solid #009bfb;
  font-weight: bold;
}
.lot-info .info > div {
  padding: 20px;
  display: none;
}
.lot-info .info > div h4 {
  color: #4e4e4e;
  text-transform: uppercase;
}
.lot-info .info > div p {
  color: #6d6e70;
}
.lot-info .info .active {
  display: block;
}
