* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 1.5;
  background: #f7f7f7;
}
body h2,
body ul,
body li {
  margin: 0;
}
body a {
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  background: #fff;
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.header .container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.header .container .logo {
  margin-right: auto;
}
.header .container .logo h2 a {
  color: #6d6e70;
}
.header .container .login,
.header .container .sign-up {
  padding: 0 20px;
  cursor: pointer;
}
.header .container .login a,
.header .container .sign-up a {
  text-transform: capitalize;
  color: #009bfb;
}
.tmp {
  height: 150px;
}
.nav {
  border-top: 1px solid #6d6e70;
  border-bottom: 1px solid #6d6e70;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav ul li {
  padding: 20px;
  transition: all ease-in-out 250ms;
}
.nav ul li a {
  color: #545556;
}
.nav ul li:hover {
  background: #6d6e70;
}
.nav ul li:hover a {
  color: #f7f7f7;
}
.footer {
  height: 100px;
  background: #6d6e70;
}
.copyright {
  height: 20px;
  background: #545556;
}
