@header-color: #fff;
@body-color: #f7f7f7;
@footer-color: #6d6e70;
@bottom-color: #545556;

@import 'color-schema';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5; 
    background: @color-1;

    h1, h2, h3, h4, ul, li {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    
    transition: all ease-in-out 200ms;
    img {
        display: block;
        max-width: 100%;
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background: @color-2;
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.3);
    .container {        
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        .logo {
            margin-right: auto;
            h2 {
                a {
                    color: @color-3;
                }
            }        
        }
        .login, .sign-up {
            padding: 0 20px;
            cursor: pointer;
            a {
                text-transform: capitalize;
                color: @color-5;
            }
        }
    }   
}

.page-header {
    padding: 15px 0;
    margin-bottom: 15px;
    h1 {
        color: @color-5;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    p {
        color: #808080;
        font-size: 16px;
        font-weight: bold;
    }
}

.nav {
    border-top: 1px solid @color-5;
    border-bottom: 1px solid @color-5;
    background: @color-5;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            padding: 15px;
            transition: all ease-in-out 250ms;
            cursor: pointer;
            a {
                color: @color-1;
            }
        }
        li:hover {    
            background: @color-1;
        }
        li:hover a {
            color: @color-6;
        }
    }
}


.nav {
    margin-bottom: 30px;
}
.footer {
    margin-top: 30px;
}


.footer {
    background: @color-3;
    color: @color-2;
    padding: 10px 0;
    font-size: 13px;
    .container {
        display: flex;
        .footer-left-side {
            flex: 1;
        }
        .footer-right-side {
            flex: 1;
            display: flex;
            flex-direction: column;
            a {
                margin: auto;
                color: @color-2;
            }
        }
    }
     
}
.footer-bottom {
    background: @color-4;
    .copyright {
        font-size: 12px;
        text-align: center;
        color: @color-2;
        max-width: 300px;
        padding: 5px 0;
        margin: 0 auto;
    }
}